[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Whatsapp
Exec=/usr/.whatsc-main/whatsapp.sh
Type=Application
Icon=/usr/.whatsc-main/whats.png
Terminal=false
