[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Whatsapp
Exec=/home/divyanshu/Desktop/project/whatsapp.sh
Type=Application
Icon=/home/divyanshu/Downloads/whatsapp.svg
Terminal=false
