
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Whatsapp
Exec=/usr/share/.whatsc-main/whatsapp.sh
Type=Application
Icon=/usr/share/.whatsc-mainwhatsapp.svg
Terminal=false
